a:link{
	color:forestgreen;
	text-decoration-color:orange;
}
th,td{
	border: 1px solid #87CEEB;
}
#successmessage{
	color:#270;
	background-color:#BFF2BF;
}
#errors{
	color:#D8000C;
	background-color:#FFBABA;
}
.btnGreen{
	background-color:blue;
	border:none;
	color:white;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:16px;
}